body {
  margin: 0;
}

.container {
  width: 80%;
  margin-left: 10%;

}

.card {
  max-width: 50%;
  margin-top: 50px;
  margin-left: 25%;
  padding-bottom: 20px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  transition: 0.3s;
  background-color: #DCDCDC;
}

.infos {
  margin-left: 5%;
}

.image {
  padding-top: 25px;
  text-align: center;
  margin-bottom: 25px;
}

#superHeroImage {
  max-width: 500px;
}

#heroName {
  text-align: center;
  padding-top: 25px;
}
